#score1{
    color : black;
    font-size : 40px;
    left:38%;
    top:11%;
    text-align : center;
    align-items: center;
    justify-content : center;
    position : absolute;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    background-image: url("https://janschreiber.github.io/img2/black-chalk.jpg");;
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas {
    border: 2px solid white;
    align-items: center;
    justify-content: center;
}
.style{
    background-color: blanchedalmond;  /*tự chọn màu yêu thích*/
}
body{
    background: url("https://cdn.tgdd.vn/GameApp/3/220065/Screentshots/slither-io-ran-lon-an-ran-be-01-01-2022-12.png")no-repeat;
    background-size: cover;
}